.account-grid {
  --account-actions-width: 56px;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 1fr var(--account-actions-width);
  gap: 12px;
}

.account-grid__cell--span-2 {
  grid-column: 3 / span 2;
}
